data/core/*
!data/core/.keep
data/core/*/*
!data/core/*/.keep
data/hcap/*
!data/hcap/.keep
data/hcap/*/*
!data/hcap/*/.keep
data/predictions/*
!data/predictions/.keep
data/processed/*
!data/processed/.keep
/models/*
!/models/.keep
**/__pycache__/
**/catboost_info/
